# src/main/resources/application.yml
spring:
  datasource:
    url: jdbc:h2:mem:parking;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: sa
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate.format_sql: true
server:
  port: 8080
